@charset "utf-8";


#wrap {margin:0; padding:0;position: relative;box-sizing: border-box}

#header { width:100%;background-color: #2a539a;padding-top:5px;}
#header h1 {text-align: center;padding-top:2px;padding-left:75px}
#header .top_menu .nav {width:100%;border-top:2px solid #111;border-bottom:1px solid #d9d9d9; font-size:20px;background-color:#fff;margin-top:-15px;margin-bottom:40px;}
#header .top_menu .nav ul {width:1420px;margin:0 auto;overflow:hidden;}
#header .top_menu .nav ul li {float:left;width:283px;text-align:center;line-height:44px;font-weight:300}


#main_contents {width:1420px; margin:0 auto;margin-top:40px !important}
#main_contents>ul {overflow: hidden}
#main_contents>ul>li {float:left;}
#main_contents>ul>li:first-child {margin-right:10px}
#main_contents>ul:nth-child(2) {padding:50px 0}
#main_contents>ul:nth-child(4) {margin-bottom:40px}


.main_login {width:284px; height:280px;background-color:#edeef3;padding:36px 26px;font-size:13px;}
.main_login>input {width:232px; height:46px; padding-left:10px;border:none; border-radius: 4px;margin-bottom:3px;font-size: 13px; }
.main_login .id_pw_find {padding-left:38px}
.main_login .id_check input {vertical-align:middle;border: none; background-color: #fff}
.main_login .id_check label,.id_pw_find {vertical-align: middle}
/*.main_login a {width:100%; height:35px; border-radius: 4px; color:#fff; font-size:15px;border:none; cursor: pointer}*/
.main_login>a {margin-top:10px;background: rgb(42,83,154);
background: linear-gradient(0deg, rgba(42,83,154,1) 0%, rgba(41,104,213,1) 100%); color:#fff;border-radius: 4px;display: block;padding:7px 0;text-align: center; font-size:15px;border:1px solid #2a5aad;}
.main_login .main_login_bt2 {overflow: hidden;margin-top:4px;}
.main_login .main_login_bt2 a {float:left;font-size:13px;color:#fff;width:114px;height:35px;margin-right:4px;background-color: #8d8d8d !important;border:none; border-radius: 4px;line-height:34px;text-align: center;}
.main_login .main_login_bt2 a:last-child {background-color:#1ec800 !important;margin-right:0}

/* login after */
.main_login_after {width:284px; height:280px;background-color:#edeef3;padding:32px 26px;font-size:13px;}
.main_login_after .login_name {font-size:15px}
.main_login_after .login_name a {font-weight:500; margin-right:8px}
.main_login_after .login_item_info {font-size:20px; margin-top:15px}
.main_login_after .login_item_info .login_item {font-weight:500; font-size:20px; margin-right:5px}
.main_login_after .login_item_info .login_item_date {display: block; font-size:15px;}
.main_login_after .login_item_info .login_item_date a {margin-left:10px;font-weight:300;width:70px;height:20px;color:#fff; cursor: pointer; font-size:12px;background: rgb(42,83,154);background: linear-gradient(0deg, rgba(42,83,154,1) 0%, rgba(41,104,213,1) 100%);border:none; border-radius: 4px;padding:0 10px 1px 10px;}
.main_login_after .login_item_next {font-size:15px;font-weight:400;color:#2a539a;margin:10px 0 20px 0}
.main_login_after .main_login_after_bt { overflow: hidden;margin-bottom:4px;}
.main_login_after .main_login_after_bt a, .main_login_after .main_login_after_bt2 a {float:left;font-size:13px;color:#fff;width:114px;height:35px;margin-right:4px;background-color: #8d8d8d !important;border:none; border-radius: 4px;line-height:34px;text-align: center}
.main_login_after .main_login_after_bt a:last-child {margin-right:0 !important}
.main_login_after .main_login_after_bt2 a:last-child {margin-right:0 !important}

.main_icon tr td {padding-left:27px}
.main_icon tr td:first-child {padding-left:0}
.main_icon tr .sp {vertical-align: top; padding-left:10px;font-size:15px;line-height:22px;}
.main_icon tr td p {font-weight:400;font-size:20px;margin-bottom:5px}
.main_icon tr td a:hover {color:#2a539a !important}


.product_list {width:852px; background-color: #f8f8f8; height:228px; padding:23px 46px;}
.product_list ul {width:366px; float:left;margin-right:28px}
.product_list ul:last-child {margin-right:0}
.product_list ul li {margin-bottom:17px;box-sizing: border-box !important}
.product_list a {box-sizing: border-box;width:366px;height:50px;display:inline-block;border-radius: 30px;background-color:#fff !important;font-size:20px;font-weight:500; line-height:50px; padding-left:25px;background:url('http://image.mrlotto.co.kr/pro_arrow_off.jpg') 323px 10px no-repeat;}
.product_list a:hover {box-sizing: border-box;border:3px solid #005bac; background:url('http://image.mrlotto.co.kr/pro_arrow_on.jpg') 320px 7px no-repeat;line-height:43px;padding-left:22px }
.product_list a span {font-size:15px;padding-left:10px}

.product_one {position:relative;width:558px; height:228px; background: url('http://image.mrlotto.co.kr/pro_bg.jpg');}
.product_one {position:relative;width:558px; height:228px; background: url('http://image.mrlotto.co.kr/pro_bg.jpg');}
.product_one a {text-align:center;position: absolute;bottom:23px;right:23px;background-color: #342104;width:210px; height:50px;border-radius: 4px;color:#fff;font-size:20px;padding-top:11px;font-weight: 400;border:1px solid #333}
/*.product_one a {text-align:center;position: absolute;top:140px;left:163px;background: rgb(119,119,119);
background: linear-gradient(180deg, rgba(119,119,119,1) 0%, rgba(71,71,71,1) 100%);width:230px; height:50px;border-radius: 4px;color:#fff;font-size:20px;padding-top:11px;font-weight: 400;border:1px solid #333}*/



.main_lotto {width:558px;padding:25px 35px;border:3px solid #d9d9d9;font-size:18px;position: relative ;margin-bottom:40px}
.main_lotto ul .main_lotto_label_bg {position: absolute;top:-6px !important;background: url('http://image.mrlotto.co.kr/lotto_label_bg.jpg');background-repeat: no-repeat;width:100px; height:100px;}

.main_notice {width:852px;overflow: hidden;padding-bottom:18px;}
.main_notice h2 {font-size:26px;float:left;padding-left:22px; }
.main_notice a {position: relative;float:right;}
.main_notice a:before {position: absolute;content: '더보기';top:-3px;right:-3px; height:2px;width:60px; font-size:13px;color:#8d8d8d}
.main_notice_list {border-top:2px solid #111;font-size:18px;}
.main_notice_list th {padding:14px 0 14px 38px;border-top:1px solid #d9d9d9; position: relative}
.main_notice_list th:before {position: absolute;content: '';background:url('http://image.mrlotto.co.kr/list_circle.jpg') no-repeat;top:21px;left:22px; height:30px;width:60px;}
.main_notice_list th.main_notice_1 {font-weight:400;background-color: #f8f8f8}
.main_notice_list td.main_notice_1 {font-weight:400; background-color: #f8f8f8}
.main_notice_list td {font-weight:100;color:#8d8d8d;letter-spacing:0.5px;border-top:1px solid #d9d9d9}


.bottom_contents {border:1px solid #d9d9d9;height:238px; width:1420px}
.bottom_contents ul {width:472px;float: left;position: relative;border-right:1px solid #d9d9d9;padding:25px 50px;height:238px}/**/
.bottom_contents h2 {font-size:26px; padding-bottom:20px}
.bottom_contents .main_video li {font-size:15px;font-weight:400;width:368px;text-align:center;color:#8d8d8d;margin-top:20px;background-color:#111}
.bottom_contents .main_video select {border:none;margin-left:38px; font-size:15px;padding-right:25px;box-sizing: border-box}
.bottom_contents .main_cc li {font-size:50px;font-weight:bold;color:#2a539a;padding-top:20px;margin-bottom:35px}
.bottom_contents .main_cc span {font-size:18px;}
.bottom_contents .main_cc span:last-child {font-size:15px;color:#2a539a;font-weight:400;}
.bottom_contents .main_bank {border-right:none; padding:0;width:474px}
.bottom_contents .main_bank h2 {padding:25px 0 0 50px}
.bottom_contents .main_bank span {float: left; padding-top:30px;padding-right:24px;padding-left:50px}
.bottom_contents .main_bank .bank_number {font-size:28px;color:#111;padding-top:30px;letter-spacing: 0}
.bottom_contents .main_bank .bank_name {font-size:18px;padding-top:8px;padding-left:174px}
.bottom_contents .main_bank .bank_txt {background-color:#f8f8f8;font-size:15px;color:#2a539a;font-weight:400;margin-top:20px;padding:16px 50px}

.main_bottom_banner {background-color: #333;width:558px;height:217px}

	select{
	-moz-appearance:none; /* Firefox */ 
	-webkit-appearance:none; /* Safari and Chrome */ 
	appearance:none;
	background:url('http://image.mrlotto.co.kr/more.jpg') 100% 50% no-repeat;
	color:#8d8d8d;
	font-weight:300;
	}
	select::-ms-expand { display:none; }
/* 계좌번호 백업 
.main_bank_cc {border:1px solid #d9d9d9;padding:35px 0 20px 40px;height:217px}
.main_bank_cc ul {width:405px;float: left;position: relative}
.main_bank_cc h2 {font-size:26px; padding-bottom:25px}
.main_bank_cc .main_bank li {font-size:18px;vertical-align:top;padding-left:45px;height:37px}
.main_bank_cc .main_bank .kb:before {position: absolute;content: '';background:url('http://image.mrlotto.co.kr/kb.jpg') no-repeat;top:48px;left:3px; height:30px;width:30px;}
.main_bank_cc .main_bank .ibk:before {position: absolute;content: '';background:url('http://image.mrlotto.co.kr/ibk.jpg') no-repeat;top:84px;left:3px; height:30px;width:30px;}
.main_bank_cc .main_bank li span {padding-left:30px;font-size:24px;font-weight: 400;letter-spacing:0.5px;vertical-align:top}
.main_bank_cc .main_bank li:last-child {font-size:15px;font-weight:400;width:340px;text-align:right;color:#8d8d8d}
.main_bank_cc .main_cc li {font-size:44px;font-weight:bold;color:#2a539a;padding-top:5px;margin-bottom:20px}
.main_bank_cc .main_cc span {font-size:18px;}
.main_bank_cc .main_cc span:last-child {font-size:15px;color:#2a539a;font-weight:400;}

.main_bottom_banner {background-color: #333;width:558px;height:217px}
*/




#footer {width:100%;border-top:1px solid #111; margin-top:100px;padding:12px 0}
#footer ul:first-child {margin-bottom:10px;}
#footer ul:first-child li a {font-weight:400;font-size:15px;}
#footer ul {width:1420px; margin: 0 auto;overflow: hidden}
#footer ul li {float:left;padding-right:20px;font-size:13px;}
#footer ul li:first-child {font-weight:400}
#footer ul li:last-child {font-size:12px;color:#8d8d8d;float:right;padding-right:0}

